<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Vinlla, A Simple Community Cloud Hosting</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/bundles/vinllalanding/css/font.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/bundles/vinllalanding/css/reset.css" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="/bundles/vinllalanding/css/master.css" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="/bundles/vinllalanding/css/skin.css" type="text/css" media="screen" /> 
	<link rel="stylesheet" href="/bundles/vinllalanding/css/tipsy.css" type="text/css" media="screen" /> 

	<script src="/bundles/vinllalanding/js/jquery-1.4.4.min.js" type="text/javascript"></script>
	<script src="/bundles/vinllalanding/js/jquery.tipsy.js" type="text/javascript"></script>
	<script src="/bundles/vinllalanding/js/functions.js" type="text/javascript"></script>
	<script src="/bundles/vinllalanding/js/css_browser_selector.js" type="text/javascript"></script>

	<!--[if IE 6]>
	<link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen" /> 
	<script src="js/ie6pngFix.js"></script>
	<script>
		DD_belatedPNG.fix('#logoFixPNG, .topSeparator, .productPrice, ul.iconBulletList img, #arrowButtonFixPNG, .footerSeparator, a.buttonLink');
	</script>
	<![endif]-->
<!--<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15706088-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>-->
</head>

<body>
	<div id="mainWrapper">
		<!-- Top Section Starts Here -->
		<div id="topWrapper">
			<div class="logo fl">
				<a href="{{ path('VinllaLandingBundle_homepage') }}" title="Conversion - Premium Landing Page"><img src="/bundles/vinllalanding/images/vinllalogo.png" width="250px" id="logoFixPNG" /></a>
			</div> <!-- end logo -->
			
			
			<ul class="socialNav fr">
				<li><a href="#" title="Facebook"><img src="/bundles/vinllalanding/img/social/facebook.png" alt="Facebook" /></a></li>
				<li><a href="#" title="Twitter"><img src="/bundles/vinllalanding/img/social/twitter.png" alt="Twitter" /></a></li>
			</ul>
		</div> <!-- end topWrapper -->
		{%block main %}
		{% endblock %}
		<div class="horizontalSep"><!-- --></div>


		<!-- Footer Section Starts Here -->
		<div class="footerMenu">
			<div class="fl" id="socialMedia">
				<h3>Ikuti Perkembangan Kami</h3>
				
				<p>Anda dapat mengikuti perkembangan Vinlla lewat Media Sosial</p>
				
				<ul class="socialNav">
					<li><a href="#" title="Facebook"><img src="/bundles/vinllalanding/img/social/facebook.png" alt="Facebook" /></a></li>
					<li><a href="#" title="Twitter"><img src="/bundles/vinllalanding/img/social/twitter.png" alt="Twitter" /></a></li>
				</ul>
			</div> <!-- end socialMedia -->
			
			<div class="footerSeparator fl"><!-- --></div>
			
			<div id="subscribe" class="fl">
				<h3>Status Pengembangan</h3>
				
				<p>Vinlla sedang dalam tahap Alfa 1</p>
				
			</div> <!-- end subscribe -->
			
			<div class="footerSeparator fl"><!-- --></div>

			<div id="contactInformation" class="fl">
				<h3>Kontak Kami</h3>
				
				<p>Gedung Ilkom (FPMIPA-C)<br/>
				Jl. Dr. Setiabudhi 229 Bandung 40154<br/>
				Jawa Barat, Indonesia <br/>
				Telp: 085279916229<br /><br />
				
				<a href="mailto:contact@mycompany.com" title="Send us a message">vinlla@poss-upi.org</a>
				</p>
			</div> <!-- end contactInformation -->
		</div> <!-- end footerMenu -->
	</div> <!-- end mainWrapper -->
	
	<div id="footerInformation">
		<p>&copy; Copyright 2012 POSS-UPI Infrastructure Development Team. All rights reserved.</p>
	</div> <!-- end footerInformation -->
</body>
</html>