{% extends 'VinllaLandingBundle:Default:base.html.twig' %}

{% block main %}
				

		<!-- Product Testimonial Section Starts Here -->
		<div class="testimonialContainer">
			<div id="boxHeading">
				<h3>Dapatkan Vinlla Sekarang </h3>
			</div> <!-- end boxHeading -->
			
			<ul class="testimonials">
				<li>
					Download Vinlla Node dan Nodemanager di sini :
				</li>
			</ul>
		</div> <!-- end testimonials -->
		

		
{% endblock %}